body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  color: white;
}

.center-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
}

.branding {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding h1 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.branding p {
  margin-top: 0;
  opacity: 0.8;
}

.logo {
  width: 30px;
  height: auto;
}

#chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid var(--vscode-panel-border);
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}

#messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: var(--vscode-editorGroup-background);
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 4px 12px;
  border-radius: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.user {
  background-color: var(--vscode-inputOption-activeBackground);
  color: var(--vscode-button-foreground);
  align-self: flex-end;
  margin-left: auto;
  border-bottom-right-radius: 2px;
}

.message.assistant {
  background-color: var(--vscode-toolbar-hoverBackground);
  color: var(--vscode-foreground);
  align-self: flex-start;
  margin-right: auto;
  border-bottom-left-radius: 2px;
}

.message pre {
  background-color: var(--vscode-editor-background, #1e1e1e);
  color: var(--vscode-editor-foreground, #d4d4d4);
  border-radius: 8px;
  overflow-x: auto;
  font-family: var(--vscode-editor-font-family, monospace);
  line-height: 1.6;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1.2vmin;
}

.message code {
  background-color: var(--vscode-editor-background, #1e1e1e);
  color: var(--vscode-editor-foreground, #d4d4d4);
  border-radius: 4px;
  font-family: var(--vscode-editor-font-family, monospace);
}

.chat-input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid var(--vscode-panel-border);
  background-color: var(--vscode-editor-background);
  gap: 10px;
}

#chat-input {
  resize: none;
  min-height: min-content;
  max-height: 300px;
}

#send-button {
  flex-shrink: 0;
}

#loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
